server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: parques
              uri: lb://service-parques
              predicates:
                - Path=/parques/**
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

# (opcional) logging para veres o encaminhamento
logging:
  level:
    org.springframework.cloud.gateway: INFO
    reactor.netty.http.client: WARN
