server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: ${CONTEXT_PATH:}

spring:
  application:
    name: ${SERVICE_NAME:unknown}
  main:
    banner-mode: "off"

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/prr_db}
    username: ${DB_USER:user}
    password: ${DB_PASS:pass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        enable_lazy_load_no_trans: true
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      probes:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://eureka-server:8761/eureka/}
    fetch-registry: true
    register-with-eureka: true
    healthcheck:
      enabled: true
    registry-fetch-interval-seconds: 5
  instance:
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30
    prefer-ip-address: true

# Configurações de Segurança JWT
jwt:
  # Usa a variável de ambiente JWT_SECRET. Se não existir, usa este valor por defeito (SÓ PARA DEV LOCAL)
  secret: ${JWT_SECRET:SecretKeyPadraoParaLocalDevelopmentApenas_NaoUsarEmProd_123456}
  expiration: 86400000 # 24 horas
